header.main
    width 100%
    padding-top 50px
    position absolute
    top: 0
    left: 0
    z-index 9999
    .grid
        display flex
        justify-content: space-between
    .menu
        flex-basis 50%
        color: $color.text
        display flex
        justify-content: space-between
        +below($bp.lg)
            display none
    .social
        font-size 25px
        color: $color.secondary
        +below($bp.lg)
            display none
        a
            &:not(:last-child)
             margin-right 10px
    .toggle
        font-size: 25px
        color: $color.secondary
        +above($bp.lg)
            display none