header.main
    width 100%
    padding-top 50px
    position absolute
    top: 0
    left: 0
    z-index 9999
    .grid
        display flex
        justify-content: space-between
        +below($bp.lg)
            flex-direction: row-reverse
            position: relative
    .menu
        display flex
        +above($bp.lg)
            flex-basis 50%
            justify-content: space-between
        +below($bp.lg)
            display none
            position: absolute
            top: 30px
            left 0
            flex-direction: column
            padding: 25px
            background: $color.primary
            > *:not(:last-child)
                margin-bottom: 10px
        a
            color: $color.text
            transition: .2s
            +below($bp.lg)
                color white
            &:hover
                color: $color.primary
    .social
        font-size 25px
        color: $color.secondary
        a
            &:not(:last-child)
             margin-right 10px
    .toggle
        font-size: 25px
        color: $color.secondary
        +above($bp.lg)
            display none