.home
    .left
        width 50%
        height 100vh
        background: url(../img/logo.jpg) 100% 60% no-repeat
        background-size auto 70%
        position: absolute
        top: 0
        left: 0
    .mail
        position absolute
        bottom 30px
        left: calc((100% - 1280px) / 2)
        display: flex
        align-items: center
        span
            font-size: 18px
            color: $color.text
        .fa
            font-size: 22px
            color: $color.primary
            margin-right: 10px
    .right
        width 70%
        height 100vh
        position absolute
        top: 0
        right 0
        z-index 1
        h1
            font-size 80px
            color: $color.secondary
            font-weight 800
            position absolute
            bottom: 25%
            left: 35%
            line-height 1
            z-index: 1
            &:first-line
                font-size 50px
                color white
                font-weight 300
        img
            min-width: 100%
            min-height: 100%
            position absolute
            bottom: 0
            left: 0