.partners
    width 100%
    padding: 50px 0
    background: $color.gray-light
    .grid
        display flex
        justify-content: space-between
        align-items: center
        +below($bp.lg)
            flex-wrap: wrap
        a
            +below($bp.lg)
                width: 50%
                display flex
                justify-content: center
                &:nth-child(n+3)
                    margin-top: 50px
            +below($bp.sm)
                width: 100%
                &:nth-child(n+2)
                    margin-top: 50px

    h2
        font-size: 40px
        font-weight: 300
        text-align: center
        text-transform: uppercase
        color: $color.gray-dark
        margin-bottom: 30px
        letter-spacing: 5px