.partners
    width 100%
    padding: 50px 0
    background: $color.gray-light
    .grid
        display flex
        justify-content: space-between
        align-items: center
    h2
        font-size: 40px
        font-weight: 300
        text-align: center
        text-transform: uppercase
        color: $color.gray-dark
        margin-bottom: 30px
        letter-spacing: 5px