footer
    background: $color.gray-x-dark
    padding: 100px 0 0
    +below($bp.lg)
        padding: 50px 0 0
    .grid
        display flex
        justify-content: space-between
        padding-bottom 70px
        +below($bp.lg)
            flex-direction: column
            align-items: center
            > *:not(:last-child)
                margin-bottom: 30px
    .item
        +above($bp.lg)
            flex-basis: 30%
            &:last-child
                flex-basis: 25%
        +below($bp.lg)
            display flex
            flex-direction: column
            align-items: center
        h3
            font-size: 20px
            font-weight: 800
            color white
            text-transform: uppercase
            margin-bottom: 5px
        p
            color white
            margin-bottom: 5px
            +below($bp.lg)
                text-align: center
        .social
            color: $color.secondary
            font-size: 30px
            margin-bottom: 20px
            a
                &:not(:last-child)
                    margin-right: 10px
        .menu
            a
                color: $color.secondary
                display block
                font-size: 14px
                &::before
                    content: ''
                    border-style: solid
                    border-width: 5px 0 5px 10px
                    border-color: transparent transparent transparent $color.primary
                    display inline-block
                    margin-right: 5px
                &:not(:last-child)
                    margin-bottom: 5px
        .mail
            color white
            line-height: 1
            .fa
                color: $color.primary
                font-size: 25px
    .see-too
        padding 50px 0
        background #1e1e1e
        display flex
        justify-content: center
        align-items: center
        +below($bp.md)
            flex-direction column
        > *:not(:last-child)
            margin-right 30px
            +below($bp.md)
                margin: 0 0 30px 0
        span
            font-size 18px
            color: #9a9a9a
            text-transform uppercase
            letter-spacing: 3px
        a
            img
                transition .3s
                &:hover
                    filter: invert(100%)