header.main
    width 100%
    padding-top 50px
    position absolute
    top: 0
    left: 0
    z-index 9999
    .grid
        display flex
        justify-content: space-between
        +below($bp.lg)
            flex-direction: row-reverse
            position: relative
    .menu
        > div
            display flex
        +above($bp.lg)
            flex-basis 50%
            > div
                justify-content: space-between
        +below($bp.lg)
            display none
            position: absolute
            top: 30px
            left 0
            padding: 25px
            background: $color.primary
            > div
                flex-direction: column
                > *:not(:last-child)
                    margin-bottom: 10px
        a
            color: $color.text
            transition: .2s
            padding-bottom: 10px
            +below($bp.lg)
                color white
            &:hover
                color: $color.primary
        .dropdown
            display inline-block
            position relative
            color: $color.text
            cursor pointer
            padding-bottom: 10px
            &:hover
                > .menu-dropdown
                    display block
        .menu-dropdown
            display none
            position: absolute
            background: $color.secondary
            width 330px
            top: 100%
            a
                padding: 0 10px
                line-height: 40px
                display: block
                height 40px
                color: white
                font-weight: 500
    .social
        font-size 25px
        color: $color.secondary
        a
            &:not(:last-child)
             margin-right 10px
    .toggle
        font-size: 25px
        color: $color.secondary
        +above($bp.lg)
            display none